<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1d97107-5201-3e7b-a767-e31741c8cfb5" Alias="BlockGridLayout_3Column" Level="3">
  <Info>
    <Name>3 Column</Name>
    <Icon>icon-layout color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Grid Layoutblock</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>BlockGrid/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>4b7c9aae-2e97-411f-84b4-1705bff32410</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>