<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab7276fe-197a-4613-8ec3-8fc565d49c02" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Homepage</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5bee1eff-abf9-4e1c-ba66-b6b18be7d44f">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15ffd9e3-260c-43b3-be1a-bd54fde345e2" SortOrder="0">api</ContentType>
    <ContentType Key="87f0eb20-5e9d-49fa-a71f-b45aeab3710b" SortOrder="1">blog</ContentType>
    <ContentType Key="39d561f1-a2ec-4844-92b9-a62d8737696f" SortOrder="2">cancel</ContentType>
    <ContentType Key="86cda3fe-d65c-491d-9b12-95db1ba04d15" SortOrder="3">category</ContentType>
    <ContentType Key="228ee421-60d5-46dd-87de-7f63b13ec89e" SortOrder="4">confirm</ContentType>
    <ContentType Key="d4007c6a-f9d4-4254-9be9-4cdd243741fb" SortOrder="5">document</ContentType>
    <ContentType Key="bdc52323-7cd1-4fb0-a079-4e71cdd9b81a" SortOrder="6">document1</ContentType>
    <ContentType Key="68f1c10c-1d01-4402-94d8-67355986141d" SortOrder="7">email</ContentType>
    <ContentType Key="fd831c1d-d946-48a7-af1a-13609d58a5b7" SortOrder="8">fAQ</ContentType>
    <ContentType Key="554f3e86-f3c4-47c6-9908-3b91fee7625c" SortOrder="9">garantie</ContentType>
    <ContentType Key="546bb672-cb74-44c2-8b85-431475e1aea1" SortOrder="10">jobForm</ContentType>
    <ContentType Key="e69e2ccb-04e5-4321-b819-e341066545d5" SortOrder="11">marketingPage</ContentType>
    <ContentType Key="e885f9b0-f7a0-4876-bd6e-89bc22979c07" SortOrder="12">notfound</ContentType>
    <ContentType Key="a310b414-3c13-42fa-9d3e-a3d0dbf75aba" SortOrder="13">rebook</ContentType>
    <ContentType Key="7ec4d927-1c4d-4082-b6cf-68727cf34237" SortOrder="14">reverseProxy</ContentType>
    <ContentType Key="29b67677-18fe-4143-9d1c-7d93132b32e5" SortOrder="15">review</ContentType>
    <ContentType Key="0b0556bd-a775-4fcf-b7c4-9f29e268cbca" SortOrder="16">search</ContentType>
    <ContentType Key="686ba051-d8d2-4443-b454-eb33aa521c9f" SortOrder="17">signup</ContentType>
    <ContentType Key="c5782fdf-e356-466a-9889-5e6b64c26cf7" SortOrder="18">sitemap</ContentType>
    <ContentType Key="6f99d7bf-1220-4940-892b-0129df40425b" SortOrder="19">status</ContentType>
    <ContentType Key="f1c0242e-04e6-49b4-b383-4a263413e233" SortOrder="20">team</ContentType>
    <ContentType Key="816ff5fa-c36e-4c53-abb5-4e7660b8fb1b" SortOrder="21">typeForm</ContentType>
    <ContentType Key="72030004-ecf8-4cb9-b739-6bc7af52b5d6" SortOrder="22">priceGuides</ContentType>
    <ContentType Key="47a34f4a-3770-43b5-852c-78f1a53eab53" SortOrder="23">blogArticle</ContentType>
    <ContentType Key="746255ce-cb5e-4d0e-8497-46b8f106f27e" SortOrder="24">companies</ContentType>
    <ContentType Key="41354157-3477-4c45-bfed-899968da65c4" SortOrder="25">locationGenerationTempPage</ContentType>
    <ContentType Key="cd95ec2e-0c99-46ad-b548-8cccb7906a50" SortOrder="26">servicesOverview</ContentType>
    <ContentType Key="70f04f15-31d6-4954-b467-9ee5051370cc" SortOrder="27">categories</ContentType>
    <ContentType Key="a8710524-abf6-4215-8803-225f4b6fd660" SortOrder="28">citiesOverview</ContentType>
    <ContentType Key="321221cd-2c95-4b13-9eaa-53757fc3ffb9" SortOrder="29">cityOverview</ContentType>
    <ContentType Key="9d6d5fb0-3f83-4d4f-82e5-c63a3f69318d" SortOrder="30">translation</ContentType>
    <ContentType Key="f377c8e8-36b4-465c-ac90-e9dccc321857" SortOrder="31">contact</ContentType>
    <ContentType Key="3f1f2d4f-2815-4780-9979-822210d7e7b9" SortOrder="32">partners</ContentType>
    <ContentType Key="debc4ddb-7e8c-46d3-934e-1571e21315da" SortOrder="33">proBenefits</ContentType>
    <ContentType Key="0a7d701d-eea1-4dc2-97a5-0d8219f6724b" SortOrder="34">payment</ContentType>
    <ContentType Key="c1e569f8-725b-4c50-87b5-4f30da43c621" SortOrder="35">authors</ContentType>
    <ContentType Key="d862f790-7e62-4c79-a78b-9f280a874639" SortOrder="36">openapp</ContentType>
    <ContentType Key="2cc3b12c-e964-49ec-80b9-4399e6b0a4ff" SortOrder="37">subscription</ContentType>
    <ContentType Key="88e7c96d-786c-4cdf-a070-14b6ee4e41fd" SortOrder="38">auth</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5b6f1e65-8a1e-4e47-9569-2ad7e214de0c</Key>
      <Name>Banner content</Name>
      <Alias>bannerContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2bee79e0-ba2e-4221-b71b-8ceb1c8b703c</Key>
      <Name>Banner end time</Name>
      <Alias>bannerEndTime</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter two digits end time in hours, eg. 09 or 21]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07866a2f-9b90-4efe-8f5b-17a4ae0cf7dd</Key>
      <Name>Banner start time</Name>
      <Alias>bannerStartTime</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter two digit start time in hours, eg. 08 or 16]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>673de2c1-7e44-4064-b503-77d2b39725e2</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>566d6d3f-96de-47cf-b59a-324e11c2a51f</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose categories to use in site]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7bebe60d-7ec4-4422-97e9-247cfe82e6c1</Key>
      <Name>cdn domain css</Name>
      <Alias>cdnDomainCss</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter CDN domain for CSS (local load = "/css")]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>20e4aa38-3acf-4bdd-9bbc-9504e5803199</Key>
      <Name>cdn domain js</Name>
      <Alias>cdnDomainJs</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter CDN domain for JS (local load = "/js")]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e26d41ab-16fe-4cc8-ae5f-216f9b092384</Key>
      <Name>Commission</Name>
      <Alias>commission</Alias>
      <Definition>46f3654c-8376-40b3-8af0-75836afad6cf</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Commission to be calculated in GA. Do not touch.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2884889a-3b3a-43bf-b246-c93fff9682be</Key>
      <Name>Consumer App Desktop Image</Name>
      <Alias>consumerAppDesktopImage</Alias>
      <Definition>03076dea-693d-40e1-b297-63b6a7ecd356</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="consumerApp">Consumer App</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d636051-6f76-4b60-90de-6fdf9f6f6715</Key>
      <Name>Consumer App Mobile Image</Name>
      <Alias>consumerAppMobileImage</Alias>
      <Definition>b814260d-85ab-440c-8390-6edada984559</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="consumerApp">Consumer App</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e9bbe0d1-a020-46af-adde-94273986849c</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>4142762b-25d8-4367-9b85-e41b688bc916</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter static content]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cff49ad0-84b5-4b61-9f7b-a9a829e24f05</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Meta description]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0ecdd5d-c410-4f25-8e96-2a8bd4fde513</Key>
      <Name>Enable</Name>
      <Alias>enable</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable/disable]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="notifications">Notifications</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be693c7e-e72a-4364-bbfb-e091435af1ea</Key>
      <Name>Generic Body</Name>
      <Alias>genericBody</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter notification body]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="notifications">Notifications</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>530f69e7-b96c-46d3-9aa6-582c2a442eed</Key>
      <Name>Generic Style</Name>
      <Alias>genericStyle</Alias>
      <Definition>bce090c8-a314-4c15-b524-50a28d62ca23</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose alert style]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="notifications">Notifications</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7ad6b3f-5a9f-4ac7-b7ad-e929fff8fc6c</Key>
      <Name>Generic Title</Name>
      <Alias>genericTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter notification title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="notifications">Notifications</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>16536c25-3e84-4d9f-9b16-a2e07613bf0e</Key>
      <Name>Tag Manager 1</Name>
      <Alias>gtm1</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Google Tag Manager <head> script]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a249761-3180-4952-b131-bdc2bef1314f</Key>
      <Name>Tag Manager 2</Name>
      <Alias>gtm2</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Google Tag Manager <body> script]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a79ec4ed-4a38-461a-8700-d2860a4c8424</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter heading]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ef74580-43d4-442f-936f-ab609710e38c</Key>
      <Name>Highlighted</Name>
      <Alias>highlighted</Alias>
      <Definition>71694c6a-51ef-4fd0-a933-76689d6c06b6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tasks">Tasks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf9acc40-490d-4141-a567-3090fd9b4323</Key>
      <Name>Highlighted Title</Name>
      <Alias>highlightedTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert title above highlighted tasks]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tasks">Tasks</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9059b68d-2b75-4254-971e-698e5735b20b</Key>
      <Name>How It Works</Name>
      <Alias>howItWorks</Alias>
      <Definition>880129de-0377-44ca-a476-6cc302d17106</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="howItWorks">How It Works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70da2661-94ba-49ac-8164-cba6be56b3b0</Key>
      <Name>How It Works Compact</Name>
      <Alias>howItWorksCompact</Alias>
      <Definition>25a6b754-08d0-4c0c-b35d-d98b32536a21</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="howItWorks">How It Works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37a4e40c-6e9d-4ec8-83e7-cdd1eebd82cd</Key>
      <Name>Subtitle</Name>
      <Alias>howToSubTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subtitle for How It Works]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="howItWorks">How It Works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2af74d6d-743c-43e4-8988-9849a18e0f1b</Key>
      <Name>Title</Name>
      <Alias>howToTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for How It Works]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="howItWorks">How It Works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80b335b1-3708-4ee7-8b52-da45279b220c</Key>
      <Name>Implementation Type</Name>
      <Alias>implementationType</Alias>
      <Definition>d018c9dc-328e-4911-9e2b-b63a2557f3d3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Override view folder]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="implementationSettings">Implementation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82e2c307-9389-4194-9bd9-f44b2361f9ca</Key>
      <Name>Insurance</Name>
      <Alias>insurance</Alias>
      <Definition>4142762b-25d8-4367-9b85-e41b688bc916</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introduction for insurance]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7edc6cc8-a248-4b7f-be1d-a769466969fb</Key>
      <Name>Lead</Name>
      <Alias>lead</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter lead]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef42eb6f-a497-4f43-98e9-c3961e438b6e</Key>
      <Name>Navbar popular tasks translated</Name>
      <Alias>navbarPopularTasksTranslated</Alias>
      <Definition>d27166f5-326d-4e83-8a8b-ab47b81c576c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tasks">Tasks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e9a5c24-1272-434e-a3cf-dea5fda093af</Key>
      <Name>Structured Data</Name>
      <Alias>newStructuredData</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add structured data for homepage]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a83237f-236f-4565-8792-524d532cfd2e</Key>
      <Name>Number of cars</Name>
      <Alias>numberOfCars</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter number of  cars to display on the map]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68a924ef-19b2-4fa7-8be0-b26cba06164e</Key>
      <Name>Translation</Name>
      <Alias>pageURL</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[DO NOT USE]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e04bdc17-8e7d-4c7b-b133-cc387ddce3c4</Key>
      <Name>Partner ID</Name>
      <Alias>partnerID</Alias>
      <Definition>f22868ed-24b2-4537-bb4e-f9ae5f6670c8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter partner ID]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37a54735-a421-478b-8b5e-70d3855aa52b</Key>
      <Name>Partner Legal Name</Name>
      <Alias>partnerLegalName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legal entity name]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51ba725d-eff5-4820-9b40-b56dd731c1cb</Key>
      <Name>Partner Logo</Name>
      <Alias>partnerLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select or upload logo]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9c7d88c-6a74-4781-a883-4c97e0d450d9</Key>
      <Name>Partner Name</Name>
      <Alias>partnerName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter partner name]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59e490a9-d134-4c20-aed9-00687ceabdd9</Key>
      <Name>Partners</Name>
      <Alias>partners</Alias>
      <Definition>99603533-b850-44bf-b866-e2f81bbf68ae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="references">References</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3e7ac7c-2323-4d43-9870-80033c3ae0cc</Key>
      <Name>Partners Title</Name>
      <Alias>partnersTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter title to display above partner logo's]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="references">References</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c592e8e-c7f6-445d-aed5-1a4836e2e156</Key>
      <Name>Partner Token</Name>
      <Alias>partnerToken</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter partner token]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ef36a3b-219b-4a1a-b9e7-cb39a2b5c666</Key>
      <Name>Primary Color</Name>
      <Alias>primaryColor</Alias>
      <Definition>f6491942-5149-45c1-bafa-59f67f1d35fc</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a primary color]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="implementationSettings">Implementation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce101c4b-affd-40f8-8a94-2ef5423c5248</Key>
      <Name>Professionals</Name>
      <Alias>professionals</Alias>
      <Definition>068e6b8b-9922-4bc6-a888-a559889e579f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select professionals to highlight on the homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="professionals">Professionals</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45cb3726-eaec-4532-a46b-eaa94520b92f</Key>
      <Name>Publicity</Name>
      <Alias>publicity</Alias>
      <Definition>99603533-b850-44bf-b866-e2f81bbf68ae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Reference where we appear in media/publicity]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="references">References</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cbd49199-9dc1-40b4-bc38-4968ee96e895</Key>
      <Name>Publicity Title</Name>
      <Alias>publicityTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter title to display above media logo's]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="references">References</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2915512a-7d00-4dc7-9d72-71c6ab817134</Key>
      <Name>refreshAllCache</Name>
      <Alias>refreshAllCache</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="implementationSettings">Implementation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eeed8ab0-f23d-4c09-87b2-62a320f9ee44</Key>
      <Name>Search link targets</Name>
      <Alias>searchLinkTargets</Alias>
      <Definition>6c79ff31-0a78-4320-8ca1-4f6268cc86ab</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7ff47ed-f1ab-41ad-8d7f-80d308003316</Key>
      <Name>Secondary Color</Name>
      <Alias>secondaryColor</Alias>
      <Definition>f6491942-5149-45c1-bafa-59f67f1d35fc</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a secondary color]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="implementationSettings">Implementation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>417dc1b8-c1ed-4815-abbe-393ecc6b88d9</Key>
      <Name>Tertiary Color</Name>
      <Alias>tertiaryColor</Alias>
      <Definition>f6491942-5149-45c1-bafa-59f67f1d35fc</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a tertiary color]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="implementationSettings">Implementation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f988206f-df63-47c8-a777-3745620b854d</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title tag]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4f503f94-1f61-4b75-b585-d55a8461cffa</Key>
      <Name>Title of Recommendations on Price Guide</Name>
      <Alias>titleOfRecommendationsOnPriceGuide</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="howItWorks">How It Works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88cbe831-bf44-4a2b-b87e-e5ef4ea6236b</Key>
      <Name>Title of  Score Panel on Price Guide Page</Name>
      <Alias>titleOfScorePanelOnGuidePage</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="howItWorks">How It Works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc1fedf1-b812-4a2f-bfea-dabe0f523672</Key>
      <Name>Title On Price Guide Page</Name>
      <Alias>titleOnPriceGuidePage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="howItWorks">How It Works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a4569bb-ee13-416e-b9ad-cfb05e75a484</Key>
      <Name>Trustpilot stars image</Name>
      <Alias>trustpilotStarsImage</Alias>
      <Definition>03beec85-848e-419b-ae50-fb6183ff8e7d</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4a52d142-9824-4ae4-9f56-b3a0c46055d4</Key>
      <Name>Unique Selling Points</Name>
      <Alias>uniqueSellingPoints</Alias>
      <Definition>6624fdfc-cb97-4a8b-b2bd-436100730caa</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert Unique Selling Points]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="uSPs">USP's</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a953c9c6-e751-4b35-a8a7-92b5d9f522b0</Key>
      <Name>Unique Selling Points OLD</Name>
      <Alias>uniqueSellingPointsOld</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert Unique Selling Points]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="uSPs">USP's</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c233760-43a8-4807-9a28-0fffe3237309</Key>
      <Name>USPS</Name>
      <Alias>uSPS</Alias>
      <Definition>43dc1565-cc99-4f6a-b784-6f03f52da8da</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="uSPs">USP's</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f5ff4b00-4bb4-4c6c-8267-e05e0dd99cf5</Key>
      <Name>USPS Title</Name>
      <Alias>uSPSTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[NEW - Insert USP Block Title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="uSPs">USP's</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb49190b-9f96-4bb0-834b-f7f45b1193d0</Key>
      <Name>Verbolia Links Title</Name>
      <Alias>verboliaLinksTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title/Heading for verbolia links]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="references">References</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f418e781-4af1-4601-b6fd-b601de715889</Key>
      <Name>Verbolia Links Translated</Name>
      <Alias>verboliaLinksTranslated</Alias>
      <Definition>c34d0668-f84c-4a8d-9bf8-7e247c5a6c71</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Url picker for verbolia]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="references">References</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d66f1ed-71c4-43ed-984f-81e5b5411158</Key>
      <Caption>Banner</Caption>
      <Alias>banner</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>5c0106ee-fe86-40ab-9400-78f0c6bfbced</Key>
      <Caption>Implementation Settings</Caption>
      <Alias>implementationSettings</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>7ed23480-d97e-4cfd-b8d2-85d1054b8b66</Key>
      <Caption>USP's</Caption>
      <Alias>uSPs</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>8584a9ae-9712-4a08-8b88-4f6a9445587d</Key>
      <Caption>References</Caption>
      <Alias>references</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>8e0b3d69-acd7-4288-96f2-a11c2cbf837f</Key>
      <Caption>Tasks</Caption>
      <Alias>tasks</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>a2430f67-8924-47a9-8872-5a15af5174de</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>af77cd57-42f9-4154-9ccf-84ec6d3e2142</Key>
      <Caption>Professionals</Caption>
      <Alias>professionals</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>c9496257-4117-4249-8a5b-db4a2114c7ea</Key>
      <Caption>Consumer App</Caption>
      <Alias>consumerApp</Alias>
      <Type>Group</Type>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Key>dcf75ced-1fd1-4856-ba7f-a5a8e29ab9f4</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e9e4d4e2-665c-4334-b5cc-6678c17b510d</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>f6f4a588-7e9a-422f-b644-71b1ffa66369</Key>
      <Caption>Notifications</Caption>
      <Alias>notifications</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>ff6435bf-9c1b-4caa-ba47-8665eee8d667</Key>
      <Caption>How It Works</Caption>
      <Alias>howItWorks</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>