<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f1f2d4f-2815-4780-9979-822210d7e7b9" Alias="partners" Level="1">
  <Info>
    <Name>Partners</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="84ee5986-a5e2-49d2-add4-f0f58cb2023c">sEOAndSettings</Composition>
    </Compositions>
    <DefaultTemplate>Partners</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="93a36042-8ec4-439a-ad51-1ad8b107f875">Partners</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ba3b2a87-2f51-4c1e-bbf1-775e55c75c07" SortOrder="0">partnerDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8e38ff93-aeac-491a-9ff3-c692bec21bb4</Key>
      <Name>Assembly explanation</Name>
      <Alias>assemblyExplanation</Alias>
      <Definition>73263189-1460-4a25-bb80-9ca261fb5845</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="partners">Partners</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91e24304-60c4-4da3-8cc8-e7083f663684</Key>
      <Name>Assembly title</Name>
      <Alias>assemblyTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="partners">Partners</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a4b3a50-5410-452a-87bf-f9809b2be4b5</Key>
      <Name>Become partner subtitle</Name>
      <Alias>becomePartnerSubtitle</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="partners">Partners</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88dc52e0-92bb-4761-a21e-ef53ec3aa98e</Key>
      <Name>Become partner title</Name>
      <Alias>becomePartnerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="partners">Partners</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ed7ddee-52ca-4a8b-a9d3-c9a9fe69e2f0</Key>
      <Name>send to email</Name>
      <Alias>sendToEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="partners">Partners</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3027d8d-1f0c-4417-98b5-68322ac42aae</Key>
      <Name>Why become partner title</Name>
      <Alias>whyBecomePartnerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="partners">Partners</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8740756a-4be1-48ed-94c4-3da68c1f05c8</Key>
      <Name>Why explanation</Name>
      <Alias>whyExplanation</Alias>
      <Definition>4513c667-a0cf-4a5e-aee2-e5bf68b984d8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="partners">Partners</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4b286a4a-8f93-4266-984e-466d1ba10996</Key>
      <Caption>Partners</Caption>
      <Alias>partners</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>