<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="debc4ddb-7e8c-46d3-934e-1571e21315da" Alias="proBenefits" Level="1">
  <Info>
    <Name>Pro Benefits</Name>
    <Icon>icon-tags color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9a91c4b6-243f-4025-bc02-b8b5767f1e55" SortOrder="0">proBenefit</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>