<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="71df8974-e981-41fb-97a7-6151df482e79" Alias="professionals" Level="1">
  <Info>
    <Name>Professionals</Name>
    <Icon>icon-user-females color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Professionals overview page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Professionals</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="34478c63-1696-425e-9406-f6520f9f692d">Professionals</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b6fd0dd3-47db-47d3-bea5-755e8d799825" SortOrder="0">professional</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>77d19883-1202-4c88-977f-234fd522a61a</Key>
      <Name>Translation</Name>
      <Alias>pageURL</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter translation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>289479ac-6e71-4853-8235-4169420e14cd</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>