<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ec4d927-1c4d-4082-b6cf-68727cf34237" Alias="reverseProxy" Level="1">
  <Info>
    <Name>Reverse Proxy</Name>
    <Icon>icon-trafic color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ReverseProxy</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d1a8aab0-5e64-4ba4-9586-c1c722528dd8">ReverseProxy</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7ec4d927-1c4d-4082-b6cf-68727cf34237" SortOrder="0">reverseProxy</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>