<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b0556bd-a775-4fcf-b7c4-9f29e268cbca" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Response for autocomplete</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Index</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01063f6c-ac89-46e9-b1b7-934f559eb253">Index</Template>
      <Template Key="2685d757-3a1a-48ed-a4bc-1ca448d9d993">SearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0b0556bd-a775-4fcf-b7c4-9f29e268cbca" SortOrder="0">search</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>992e7161-c6cf-4502-9c6f-8d0207cd6034</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Meta description]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f3d427e-4a1a-4b88-b2c0-593fce5d6ad0</Key>
      <Name>Translation</Name>
      <Alias>pageURL</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name + Automatic URL
ONLY USE FOR NON-NL]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>747fd8a1-505f-4ef2-bc09-a013bf2e10d5</Key>
      <Name>Search results links to JobForm</Name>
      <Alias>searchResultsLinksToJobForm</Alias>
      <Definition>3ec6e5b3-3569-43ab-8ba6-d48f72e4a705</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>192971f9-cb81-4983-9ed6-05baaa49c3c5</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter title]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>008a60bc-d0df-4a38-ab65-f3f5b103cfca</Key>
      <Name>Hide from navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide from navigation & sitemap]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c91b0eb3-4561-4c7e-a8fa-f7e430db113a</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>