<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="686ba051-d8d2-4443-b454-eb33aa521c9f" Alias="signup" Level="1">
  <Info>
    <Name>Signup</Name>
    <Icon>icon-wrench color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Pro info page for signup</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5fc8bd6f-5311-4b23-898d-d0b4901a3e26</Key>
      <Name>About us 4 images</Name>
      <Alias>aboutUs4Images</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2547a555-16e5-4232-977f-6d33e870b0fd</Key>
      <Name>appSubtitle</Name>
      <Alias>appSubtitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mobileApplicationCard">Mobile Application Card</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>16f8a0d0-e3ec-42b5-9e79-f5822807f51a</Key>
      <Name>appTitle</Name>
      <Alias>appTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for mobile application card]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mobileApplicationCard">Mobile Application Card</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed649491-496a-4f66-ae1a-4c69b7817ae5</Key>
      <Name>buttonSubtext</Name>
      <Alias>buttonSubtext</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text for under button]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="mobileApplicationCard">Mobile Application Card</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>efd04c80-ee1a-44e1-838d-49ef73d367c3</Key>
      <Name>buttonText</Name>
      <Alias>buttonText</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text for button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mobileApplicationCard">Mobile Application Card</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8555517-335e-449f-a109-b69917ec85ef</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter meta description]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81e20847-6380-45c1-915e-c810a13a8b7c</Key>
      <Name>Extra Content</Name>
      <Alias>extraContent</Alias>
      <Definition>4142762b-25d8-4367-9b85-e41b688bc916</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="extraContentBlock">Extra Content Block</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4fa4165-fc14-4079-98f3-9054cd2cc184</Key>
      <Name>HIW Content1</Name>
      <Alias>hIWContent1</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content for first HIW]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="proHowItWorks">Pro How it works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>adccf291-46d7-4590-b6a2-eff253b7e44a</Key>
      <Name>HIW Content2</Name>
      <Alias>hIWContent2</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Cotnent for second HIW]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="proHowItWorks">Pro How it works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83b157cd-3e9c-49b9-a99b-0a126038556f</Key>
      <Name>HIW Content3</Name>
      <Alias>hIWContent3</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content for third HIW]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="proHowItWorks">Pro How it works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62f97408-3291-4cb5-9747-483783bbfb7a</Key>
      <Name>HIW Section Title</Name>
      <Alias>hIWSectionTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="proHowItWorks">Pro How it works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc0441cd-d6bd-4f5b-9b17-a5a99c8299a1</Key>
      <Name>HIW Title1</Name>
      <Alias>hIWTitle1</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for first HIW]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="proHowItWorks">Pro How it works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca97f6ac-29ca-4331-93bf-85b6052f3d58</Key>
      <Name>HIW Title2</Name>
      <Alias>hIWTitle2</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for second HIW]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="proHowItWorks">Pro How it works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb6e8bdc-0dad-4d68-bd67-e9b1472a5418</Key>
      <Name>HIW Title3</Name>
      <Alias>hIWTitle3</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for third HIW]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="proHowItWorks">Pro How it works</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9f5777b-d94f-44c3-9f8f-9ac93d56b796</Key>
      <Name>Button Text</Name>
      <Alias>jumboButtonText</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c4b578c-d4d1-4975-bdb0-72edf358a229</Key>
      <Name>noIndex</Name>
      <Alias>noIndex</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Prevent indexing]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>348fa1ba-15f9-4b8d-bf96-c8a2d591724d</Key>
      <Name>Translation</Name>
      <Alias>pageURL</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name + Automatic URL
ONLY USE FOR NON-NL]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb5700dc-5870-49d4-8445-c230024890e0</Key>
      <Name>Pro USP Content1</Name>
      <Alias>proUSPContent1</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content for first pro selling point]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="proUniqueSellingPoints">Pro Unique Selling Points</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc9cff0e-739d-44b9-8f3a-098e5ca27d4e</Key>
      <Name>Pro USP Content2</Name>
      <Alias>proUSPContent2</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content for second pro selling point]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="proUniqueSellingPoints">Pro Unique Selling Points</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec5d2f54-223d-4dc0-9c10-83ef7c33cb9b</Key>
      <Name>Pro USP Content3</Name>
      <Alias>proUSPContent3</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content for third pro selling point]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="proUniqueSellingPoints">Pro Unique Selling Points</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b9ab3f3-71cd-4ac8-85be-ad6a7cbeeb03</Key>
      <Name>Pro USP Title1</Name>
      <Alias>proUSPTitle1</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for first pro selling point]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="proUniqueSellingPoints">Pro Unique Selling Points</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aecb1f1d-f5a2-4589-84f0-1a33c8aeffc6</Key>
      <Name>Pro USP Title2</Name>
      <Alias>proUSPTitle2</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for second pro selling point]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="proUniqueSellingPoints">Pro Unique Selling Points</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7f87889-268f-4fd1-8337-fc4e7b726f56</Key>
      <Name>Pro USP Title3</Name>
      <Alias>proUSPTitle3</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for third pro selling point]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="proUniqueSellingPoints">Pro Unique Selling Points</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>659584c9-c788-4316-9dde-f198f2e9b92a</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="proUniqueSellingPoints">Pro Unique Selling Points</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>671465ef-1c8f-41aa-ab8e-0c72c075450e</Key>
      <Name>Sub heading</Name>
      <Alias>subHeading</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sub heading/title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4fdda7c5-a3a4-45a2-a76a-c2041b94f246</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>746ece07-03b5-4caa-a0f0-b885657b62f6</Key>
      <Name>Title Heading</Name>
      <Alias>titleHeading</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Heading/title for page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2041e9dc-63c7-4da0-95f1-c822cc3ce6d0</Key>
      <Name>Hide from navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide from navigation]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e79538dc-7127-4c2c-b0bc-439834dbb784</Key>
      <Name>Video Card Button Text</Name>
      <Alias>videoCardButtonText</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>340d3d6f-9376-41ec-8a5a-fc4c46392c51</Key>
      <Name>Video Card Text</Name>
      <Alias>videoCardText</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de404f04-3419-40dc-ae1f-e044d9accb24</Key>
      <Name>Video Card Title</Name>
      <Alias>videoCardTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>35f24d21-42f0-4669-a8f0-a9a1fde91988</Key>
      <Name>Why1</Name>
      <Alias>why1</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c417671-3487-461a-81d9-37e8771016bc</Key>
      <Name>Why2</Name>
      <Alias>why2</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>182b23b4-ba44-49ae-b773-9e33c937b03a</Key>
      <Name>Why3</Name>
      <Alias>why3</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb0bbdeb-b497-4b8f-9b7e-7db4feaf8178</Key>
      <Name>Why4</Name>
      <Alias>why4</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ecd62e8-5fb7-4c3a-b5cf-73b735236dbf</Key>
      <Name>Subtitle</Name>
      <Alias>whyZoofySubtitle</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subtitle for Why Zoofy section]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>037741c6-7e13-4e69-ad40-c1c1c142330e</Key>
      <Name>Title</Name>
      <Alias>whyZoofyTitle</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for Why Zoofy section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="whyZoofy">Why Zoofy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a53aa287-3552-4898-a7d8-ba878dcc7da0</Key>
      <Name>Work when you want</Name>
      <Alias>workWhenYouWant</Alias>
      <Definition>7531817e-daa4-4b0e-b96e-cb668834e884</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="workWhenYouWant">Work when you want</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>46158df8-3679-4ef9-aa7f-19c3d66cfba1</Key>
      <Name>Work when you want subtitle</Name>
      <Alias>workWhenYouWantSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="workWhenYouWant">Work when you want</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce72d0a7-4ec2-47b5-88a0-3e14a834d4bd</Key>
      <Name>Work when you want title</Name>
      <Alias>workWhenYouWantTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="workWhenYouWant">Work when you want</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4ea08034-dde3-4b91-b47a-277f3d04112f</Key>
      <Caption>Extra Content Block</Caption>
      <Alias>extraContentBlock</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>50605307-708f-4eed-996a-a6c0dd2d86a2</Key>
      <Caption>Why Zoofy</Caption>
      <Alias>whyZoofy</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>528ee47a-253b-45c4-b305-5f5e5f1cbc06</Key>
      <Caption>Pro How it works</Caption>
      <Alias>proHowItWorks</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>6aae16ec-9338-44e0-98aa-db29d8fda3f4</Key>
      <Caption>Pro Unique Selling Points</Caption>
      <Alias>proUniqueSellingPoints</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>6f832943-391b-46c2-9b69-2464b80ddb6f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>8e213dfd-c6f5-419e-ba00-9493cc5f23cc</Key>
      <Caption>Mobile Application Card</Caption>
      <Alias>mobileApplicationCard</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>a252e9a1-7c65-49fc-b18b-7f6a5be2c824</Key>
      <Caption>Work when you want</Caption>
      <Alias>workWhenYouWant</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>b57a5eab-9fd4-452b-afdf-7f19fcbb2b11</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>