<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75de2ea7-5757-4317-8a04-cb97cb6f70ca" Alias="Archetype - Questions" Level="1">
  <Info>
    <Name>Archetype - Questions</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>