<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58c871ee-fd85-4ef6-8eb1-e1832d82f84d" Alias="Archetype - How Tos" Level="1">
  <Info>
    <Name>Archetype - How Tos</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>