<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ec42274-e6c2-45fd-9268-59afb6cb0e6e" Alias="Archetype - Dynamic Form Field" Level="1">
  <Info>
    <Name>Archetype - Dynamic Form Field</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>