<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f02da31-fe7b-4437-8752-73c7dab698ce" Alias="Archetype - TitleText" Level="1">
  <Info>
    <Name>Archetype - TitleText</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>