<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abba5dce-5a80-41e6-9b68-fc2df2d6b5b9" Alias="Archetype - Dynamic Form Values" Level="1">
  <Info>
    <Name>Archetype - Dynamic Form Values</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>