<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a4fa04e-6d7c-4859-aae0-575da2bdbc54" Alias="Archetype - NavBar Popular Tasks" Level="1">
  <Info>
    <Name>Archetype - NavBar Popular Tasks</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>