<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb7234fc-c0b5-4b97-a034-24343ceb6aeb" Alias="Author - Image - Media Picker" Level="1">
  <Info>
    <Name>Author - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>