<?xml version="1.0" encoding="utf-8"?>
<DataType Key="096a2f8f-7365-442e-9419-63b370a83bc9" Alias="Blog Article - Author - Content Picker" Level="1">
  <Info>
    <Name>Blog Article - Author - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/b2343e9fa28f4a6aa16f49a2cb0da0ac"
}]]></Config>
</DataType>