<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0150df78-5c36-43c3-b602-467611d48178" Alias="Blog Article - Custom Scripts - Textarea" Level="1">
  <Info>
    <Name>Blog Article - Custom Scripts - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>