<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cedf89b6-72d1-47b4-98fd-867a0617e522" Alias="Blog Article - stickyCTATaskID - Textbox" Level="1">
  <Info>
    <Name>Blog Article - stickyCTATaskID - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>