<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff86addd-e472-4db3-bb57-f8fe268c1799" Alias="Bootstrap Grid" Level="1">
  <Info>
    <Name>Bootstrap Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "e5f4e94c-df91-3895-92f2-129cdbfde75b",
      "name": "Layouts"
    },
    {
      "key": "2b0e1d81-fa35-3cc5-8a46-0dfc38739ad3",
      "name": "Grid Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": "#fce5cd",
      "columnSpanOptions": [],
      "contentElementTypeKey": "48ba1fc4-8797-3f42-abb4-d8c392623022",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2b0e1d81-fa35-3cc5-8a46-0dfc38739ad3",
      "iconColor": "#ce7e00",
      "inlineEditing": false,
      "label": "Rich text editor",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": "#fce5cd",
      "columnSpanOptions": [],
      "contentElementTypeKey": "19aa30bf-529e-3ce1-b0d3-040a70863902",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2b0e1d81-fa35-3cc5-8a46-0dfc38739ad3",
      "iconColor": "#ce7e00",
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": "#fce5cd",
      "columnSpanOptions": [],
      "contentElementTypeKey": "6ad1efec-3858-32c7-bb84-f7c2180689ba",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2b0e1d81-fa35-3cc5-8a46-0dfc38739ad3",
      "iconColor": "#ce7e00",
      "inlineEditing": false,
      "label": "Macro",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": "#fce5cd",
      "columnSpanOptions": [],
      "contentElementTypeKey": "89b691ad-c6bb-38c0-92da-748804e511c6",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2b0e1d81-fa35-3cc5-8a46-0dfc38739ad3",
      "iconColor": "#ce7e00",
      "inlineEditing": false,
      "label": "Embed",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": "#fce5cd",
      "columnSpanOptions": [],
      "contentElementTypeKey": "c8d50410-dd8f-360d-9b81-f6fef2bdc0e3",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2b0e1d81-fa35-3cc5-8a46-0dfc38739ad3",
      "iconColor": "#ce7e00",
      "inlineEditing": false,
      "label": "Headline",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": "#fce5cd",
      "columnSpanOptions": [],
      "contentElementTypeKey": "56d29c83-5dfc-3167-a429-abf510a65027",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2b0e1d81-fa35-3cc5-8a46-0dfc38739ad3",
      "iconColor": "#ce7e00",
      "inlineEditing": false,
      "label": "Quote",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "area_0",
          "columnSpan": 12,
          "createLabel": null,
          "key": "48b80cb9-73b7-3260-8f05-20107d8e8998",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": "#cfe2f3",
      "columnSpanOptions": [],
      "contentElementTypeKey": "73a5ee3d-f22e-36ed-be59-772ae5da229c",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e5f4e94c-df91-3895-92f2-129cdbfde75b",
      "iconColor": "#2986cc",
      "inlineEditing": false,
      "label": "1 Column",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": "84632dd9-9b8f-311b-9d08-1baf33615393",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "area_0",
          "columnSpan": 6,
          "createLabel": null,
          "key": "407df664-7b4f-3716-9058-543fba581be0",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "area_1",
          "columnSpan": 6,
          "createLabel": null,
          "key": "7096dbca-562e-3dde-affc-2f5cf336a941",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": "#cfe2f3",
      "columnSpanOptions": [],
      "contentElementTypeKey": "225217e5-42ad-3bc9-8067-b12d8b2ee116",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e5f4e94c-df91-3895-92f2-129cdbfde75b",
      "iconColor": "#2986cc",
      "inlineEditing": false,
      "label": "2 Column",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": "84632dd9-9b8f-311b-9d08-1baf33615393",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "area_0",
          "columnSpan": 4,
          "createLabel": null,
          "key": "9f23a622-1060-3d40-8b18-7a4351861689",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "area_1",
          "columnSpan": 4,
          "createLabel": null,
          "key": "da9da773-5463-3c3a-84fa-0d608a9a1cf8",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "area_2",
          "columnSpan": 4,
          "createLabel": null,
          "key": "8b6cb26c-648e-35c8-8a46-ad04419e4c9d",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": "#cfe2f3",
      "columnSpanOptions": [],
      "contentElementTypeKey": "f1d97107-5201-3e7b-a767-e31741c8cfb5",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e5f4e94c-df91-3895-92f2-129cdbfde75b",
      "iconColor": "#2986cc",
      "inlineEditing": false,
      "label": "3 Column",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": "84632dd9-9b8f-311b-9d08-1baf33615393",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "area_0",
          "columnSpan": 3,
          "createLabel": null,
          "key": "30b725ff-8889-31c1-8f15-b1140e9d9313",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "area_1",
          "columnSpan": 3,
          "createLabel": null,
          "key": "329ef822-b277-3712-96f7-8d7a6a0827a4",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "area_2",
          "columnSpan": 3,
          "createLabel": null,
          "key": "333441b2-ed03-3593-bed3-6353a65967c8",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "area_3",
          "columnSpan": 3,
          "createLabel": null,
          "key": "c6f6e1b3-ddbf-3a68-b413-bf65e44b7228",
          "maxAllowed": null,
          "minAllowed": null,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": "#cfe2f3",
      "columnSpanOptions": [],
      "contentElementTypeKey": "a6c40b38-fe45-386d-b22b-6e0e5d8f425a",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e5f4e94c-df91-3895-92f2-129cdbfde75b",
      "iconColor": "#2986cc",
      "inlineEditing": false,
      "label": "4 Column",
      "rowMaxSpan": null,
      "rowMinSpan": null,
      "settingsElementTypeKey": "84632dd9-9b8f-311b-9d08-1baf33615393",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": 12,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>