<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05402d64-f5d6-490e-be7a-be8501b0ad20" Alias="Card - Bullets - Repeatable textstrings" Level="1">
  <Info>
    <Name>Card - Bullets - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>