<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0cc5854-03be-4729-86f6-94d70eac1046" Alias="Category - Image" Level="1">
  <Info>
    <Name>Category - Image</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>