<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e781e3cf-3f92-4d58-8624-74768b35d30f" Alias="Category - Structured Data - Textarea" Level="1">
  <Info>
    <Name>Category - Structured Data - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>