<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15de58a7-e8d3-4fe4-938c-dfe59b76f7b3" Alias="Garantie - File upload" Level="1">
  <Info>
    <Name>Garantie - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>