<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ccedddac-eda3-46d1-9f85-38eed1f97a07" Alias="Homepage - Search Tasks - Textbox" Level="1">
  <Info>
    <Name>Homepage - Search Tasks - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>