<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46f3654c-8376-40b3-8af0-75836afad6cf" Alias="Homepage - Commission - Decimal" Level="1">
  <Info>
    <Name>Homepage - Commission - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": null,
  "step": null,
  "max": null
}]]></Config>
</DataType>