<?xml version="1.0" encoding="utf-8"?>
<DataType Key="827d83a8-aa56-4f39-9489-a0d9ec90048f" Alias="Homepage - Verbolia Links - Repeatable textstrings" Level="1">
  <Info>
    <Name>Homepage - Verbolia Links - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>