<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3a59d3d-7349-4b77-93fb-5f615c549221" Alias="Image - alt - Textstring" Level="1">
  <Info>
    <Name>Image - alt - Textstring</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>