<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c11790b1-cd23-497d-afd2-ddac02146e5c" Alias="Klus - Pre-payment Type - Dropdown" Level="1">
  <Info>
    <Name>Klus - Pre-payment Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 379,
      "value": "Fixed price"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>