<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b546df2-5cbe-431a-98b5-07e73f858eeb" Alias="Klus - Lead - Rich text editor" Level="1">
  <Info>
    <Name>Klus - Lead - Rich text editor</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>