<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af7877c5-c0c2-44f0-bbfc-6f47755f5313" Alias="Klus - Only allow future requests - Checkbox" Level="1">
  <Info>
    <Name>Klus - Only allow future requests - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>