<?xml version="1.0" encoding="utf-8"?>
<DataType Key="835bf3a7-7507-4ed3-b10f-c7c72482c8bd" Alias="Klus - Custom Scripts - Textarea" Level="1">
  <Info>
    <Name>Klus - Custom Scripts - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>