<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9cfa2fbf-d1bf-4803-b968-10856c871d23" Alias="Klus - Search Terms - Textarea" Level="1">
  <Info>
    <Name>Klus - Search Terms - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>