<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ccf17de3-edce-418e-a5fc-e993f1d5cc11" Alias="Klus - Pre-Payment - Checkbox (1)" Level="1">
  <Info>
    <Name>Klus - Pre-Payment - Checkbox (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>