<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5557cfb1-309c-46a6-b4b6-1c7bc4920f98" Alias="Klus - Alternative Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Klus - Alternative Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "category",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site",
    "type": "content"
  }
}]]></Config>
</DataType>