<?xml version="1.0" encoding="utf-8"?>
<DataType Key="113ce8fc-fab4-4ceb-9315-1bc596893b83" Alias="Klus - Pre-Payment - Checkbox" Level="1">
  <Info>
    <Name>Klus - Pre-Payment - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>