<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39a0f97c-ea7b-44b1-ab7e-3cbe23650022" Alias="Klus - totalNumberInvoices - Numeric" Level="1">
  <Info>
    <Name>Klus - totalNumberInvoices - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": "",
  "step": "",
  "max": ""
}]]></Config>
</DataType>