<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d9d2a3b-9d15-4015-bea0-aa4c21fd444a" Alias="Klus - Enable Spoed - Checkbox" Level="1">
  <Info>
    <Name>Klus - Enable Spoed - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>