<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a21465ec-c09f-40a1-bf0e-05239059291b" Alias="Klus - Has Insurance - Checkbox" Level="1">
  <Info>
    <Name>Klus - Has Insurance - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>