<?xml version="1.0" encoding="utf-8"?>
<DataType Key="790290ac-1d73-473e-b3f1-42048da05a2d" Alias="Location - Plural - Textstring" Level="1">
  <Info>
    <Name>Location - Plural - Textstring</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>