<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a8fc834-44d6-409f-867e-65a5b98d4668" Alias="Multi URL Picker" Level="1">
  <Info>
    <Name>Multi URL Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>