<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b9a17cd-3ea2-4b7a-aaf9-8b24d31dc485" Alias="One Link" Level="1">
  <Info>
    <Name>One Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>