<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0dd05526-04fc-4e36-81f7-3f9d920f3638" Alias="Payment - Service cost - Decimal" Level="1">
  <Info>
    <Name>Payment - Service cost - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1
}]]></Config>
</DataType>