<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1802eea9-7273-4779-a925-935dbf103ffc" Alias="Pro benefit - Media Picker" Level="1">
  <Info>
    <Name>Pro benefit - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>