<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f014e83-2ad6-42a5-9ba6-a118bd88cc21" Alias="Question For Structured Data - Answer - Textarea" Level="1">
  <Info>
    <Name>Question For Structured Data - Answer - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>