<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a4b56e3-8fe9-4014-aee1-634c14cc0381" Alias="Review ID - Numeric" Level="1">
  <Info>
    <Name>Review ID - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": "",
  "step": "",
  "max": ""
}]]></Config>
</DataType>