<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b8407ac-1fe5-495b-a402-e91c526981e1" Alias="Service with stars - Stars - Numeric" Level="1">
  <Info>
    <Name>Service with stars - Stars - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>