<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b37de398-071e-4b58-b30d-099395eed8a4" Alias="SignUp - Image Block - Media Picker" Level="1">
  <Info>
    <Name>SignUp - Image Block - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": "umb://media/1c8fc24902654b4b8c871e85474daa7f"
}]]></Config>
</DataType>