<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2482a20-5ba9-40db-baf2-a92d875a8184" Alias="Social author - Social network - Dropdown" Level="1">
  <Info>
    <Name>Social author - Social network - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Facebook"
    },
    {
      "id": 2,
      "value": "LinkedIn"
    },
    {
      "id": 3,
      "value": "X"
    },
    {
      "id": 4,
      "value": "Instagram"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>