<?xml version="1.0" encoding="utf-8"?>
<DataType Key="937f771d-de6f-47cf-8801-4659e6a2bd54" Alias="SpecialDay - Rate - Decimal" Level="1">
  <Info>
    <Name>SpecialDay - Rate - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>