<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42feca3d-a8f6-48a4-812d-95624476ea26" Alias="Status - Profile Placeholder - Media Picker" Level="1">
  <Info>
    <Name>Status - Profile Placeholder - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": "umb://media/1c8fc24902654b4b8c871e85474daa7f"
}]]></Config>
</DataType>