<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8295c7f-59ed-4dca-9b6f-7ab1ea0c9d5b" Alias="Subscription - Highlighted tasks - Block List" Level="1">
  <Info>
    <Name>Subscription - Highlighted tasks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "095c8fd1-98b6-4ba6-a898-c1ed251009b7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>