<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bebfe1ba-d86b-42c9-80a9-2f3a56779ca3" Alias="Subscription - 2 cards - Block List" Level="1">
  <Info>
    <Name>Subscription - 2 cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b0d86ec9-19ef-4ae4-8a6a-9b31425b9b57",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 2,
    "min": 2
  }
}]]></Config>
</DataType>