<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da603241-36b8-4c86-aa8d-d4a492209d75" Alias="Team - Textarea" Level="1">
  <Info>
    <Name>Team - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>