<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c364a97b-628e-4ced-948a-f6da937b015b" Alias="Team - Name - Textstring" Level="1">
  <Info>
    <Name>Team - Name - Textstring</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>