<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87d90adc-fff6-476c-bb1e-a58cc7468eb9" Alias="Translation - umbracoNaviHide - Toggle" Level="1">
  <Info>
    <Name>Translation - umbracoNaviHide - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>