<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30a576be-54ef-47c3-a399-a3ba751ee407" Alias="uspColor - Dropdown" Level="1">
  <Info>
    <Name>uspColor - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "zgreen"
    },
    {
      "id": 2,
      "value": "zorange"
    },
    {
      "id": 3,
      "value": "zblack"
    },
    {
      "id": 4,
      "value": "zyellow"
    },
    {
      "id": 5,
      "value": "zgray"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>