<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5a95ded-74d2-4a3d-b038-fa630854b368" Alias="Vorto People" Level="1">
  <Info>
    <Name>Vorto People</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>