<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4da58bc3-3e30-453d-8355-51e770a6a10d" Alias="Vorto Textarea" Level="1">
  <Info>
    <Name>Vorto Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>