<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2209d53b-2c76-4bdc-86da-6a16b81f3ad9" Alias="Vorto FAQ Sections" Level="1">
  <Info>
    <Name>Vorto FAQ Sections</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>