<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e76a5121-c853-4b9f-9434-8f87a51c1d3e" Alias="Vorto Grid" Level="1">
  <Info>
    <Name>Vorto Grid</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>