<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7d2d49a-001e-438a-ae3a-91036925c51c" Alias="Vorto References" Level="1">
  <Info>
    <Name>Vorto References</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>