<?xml version="1.0" encoding="utf-8"?>
<DataType Key="966f0658-b181-46b7-9bad-63a319fed74e" Alias="Vorto Questions" Level="1">
  <Info>
    <Name>Vorto Questions</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>