<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bce090c8-a314-4c15-b524-50a28d62ca23" Alias="Alert Style" Level="1">
  <Info>
    <Name>Alert Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 277,
      "value": "success"
    },
    {
      "id": 278,
      "value": "warning"
    },
    {
      "id": 279,
      "value": "info"
    },
    {
      "id": 280,
      "value": "danger"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>