<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53c141e2-34e5-4ef9-a605-a5d50f1598ee" Alias="Archetype - References" Level="1">
  <Info>
    <Name>Archetype - References</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>