<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2fe3c3f-74d9-430e-88d2-eaf31d877d5a" Alias="Archetype - People" Level="1">
  <Info>
    <Name>Archetype - People</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>