<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b693176-d7ca-4c6d-8e87-8ed8afa8efe9" Alias="Archetype - USP List" Level="1">
  <Info>
    <Name>Archetype - USP List</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>