<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5a097d8-dd92-44eb-bdcc-9f08ca9eac93" Alias="Archetype - Category Tasks" Level="1">
  <Info>
    <Name>Archetype - Category Tasks</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>