<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d09cac35-2be6-4e78-b4a2-883ee2c748c9" Alias="Archetype - Highlighted Tasks" Level="1">
  <Info>
    <Name>Archetype - Highlighted Tasks</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>