<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a95b8d3-cf79-41e6-b1cd-f6b9c798a6b1" Alias="Archetype - Unique Selling Points" Level="1">
  <Info>
    <Name>Archetype - Unique Selling Points</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>