<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd18b5f6-9b5e-417d-9266-0b4240516893" Alias="Block list - Media Picker" Level="1">
  <Info>
    <Name>Block list - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>