<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc371bfb-d1ef-49e7-9bc4-808fe69fc145" Alias="Blog - Used as Categories Page - Checkbox" Level="1">
  <Info>
    <Name>Blog - Used as Categories Page - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>