<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c976479f-27b3-4760-b84f-7532dd39df29" Alias="Blog - numberOfItemsPerPage - Decimal" Level="1">
  <Info>
    <Name>Blog - numberOfItemsPerPage - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": null,
  "step": null,
  "max": 30.0
}]]></Config>
</DataType>