<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f10a3add-c8bf-4099-9052-ca03f83fdcf6" Alias="Blog Article - stickyCTATaskID - Textbox (1)" Level="1">
  <Info>
    <Name>Blog Article - stickyCTATaskID - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>