<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33880335-03db-405b-b3f5-5af5dbab92f0" Alias="Blog - Custom Scripts - Textarea" Level="1">
  <Info>
    <Name>Blog - Custom Scripts - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>