<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c166e97e-5ca4-4c2b-aad9-b2b1a083db32" Alias="Blog Article - stickyCTAText - Textbox" Level="1">
  <Info>
    <Name>Blog Article - stickyCTAText - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>