<?xml version="1.0" encoding="utf-8"?>
<DataType Key="566d6d3f-96de-47cf-b59a-324e11c2a51f" Alias="Checkbox Categories" Level="1">
  <Info>
    <Name>Checkbox Categories</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 46,
      "value": "CV Monteur"
    },
    {
      "id": 47,
      "value": "Dakdekker"
    },
    {
      "id": 48,
      "value": "Elektricien"
    },
    {
      "id": 49,
      "value": "Hovenier"
    },
    {
      "id": 50,
      "value": "Loodgieter"
    },
    {
      "id": 51,
      "value": "Klusjesman"
    },
    {
      "id": 52,
      "value": "Ongediertebestrijder"
    },
    {
      "id": 53,
      "value": "Slotenmaker"
    },
    {
      "id": 54,
      "value": "Timmerman"
    },
    {
      "id": 55,
      "value": "Witgoedreparateur"
    }
  ]
}]]></Config>
</DataType>