<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f247bedf-5a4c-403d-8117-83b8bfde2d9c" Alias="City - Content Picker" Level="1">
  <Info>
    <Name>City - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/15269dbc79e64a099f4c81f579582931"
}]]></Config>
</DataType>