<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8f08e4f-6c46-4a13-8b71-f08756ad5541" Alias="City - Toggle" Level="1">
  <Info>
    <Name>City - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "false",
  "LabelOn": "true",
  "ShowLabels": false
}]]></Config>
</DataType>