<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10daeeb6-3e8e-4c95-b85e-80e87d4b4a2d" Alias="Color Picker" Level="1">
  <Info>
    <Name>Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "UseLabel": false
}]]></Config>
</DataType>