<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28f9cde0-fce6-4169-b818-7582a193a5db" Alias="CompanyProfile - CompanyId - Numeric" Level="1">
  <Info>
    <Name>CompanyProfile - CompanyId - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>