<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d018c9dc-328e-4911-9e2b-b63a2557f3d3" Alias="Dropdown - Partner Implementation" Level="1">
  <Info>
    <Name>Dropdown - Partner Implementation</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 397,
      "value": "basic_whitelabel"
    },
    {
      "id": 398,
      "value": "basic_iframe"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>