<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ed5ad11-7de0-42e3-9180-a7e10bef9d87" Alias="Dropdown - Form Types" Level="1">
  <Info>
    <Name>Dropdown - Form Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 215,
      "value": "checkbox"
    },
    {
      "id": 216,
      "value": "dropdown"
    },
    {
      "id": 217,
      "value": "number"
    },
    {
      "id": 218,
      "value": "radio"
    },
    {
      "id": 219,
      "value": "text"
    },
    {
      "id": 220,
      "value": "textarea"
    },
    {
      "id": 221,
      "value": "per piece dropdown"
    },
    {
      "id": 222,
      "value": "multiple-dropdown"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>