<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01ab9221-72c9-47ac-887c-6fa496225b35" Alias="Garantie - Upload Document - Media Picker (1)" Level="1">
  <Info>
    <Name>Garantie - Upload Document - Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>