<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b38ee352-4c8a-4def-8003-6a608fde5189" Alias="Garantie - Upload document - Media Picker" Level="1">
  <Info>
    <Name>Garantie - Upload document - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>