<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f185f7d-fc23-4856-8ca3-587aa25f1d09" Alias="Garantie - Upload document - File upload" Level="1">
  <Info>
    <Name>Garantie - Upload document - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>