<?xml version="1.0" encoding="utf-8"?>
<DataType Key="040df0e0-144c-4ed7-b5d8-fe707014f93f" Alias="Homepage - DateTime" Level="1">
  <Info>
    <Name>Homepage - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>