<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e4acf90-2a8e-42b0-b92c-1a5d2ee1f7cb" Alias="Homepage - Tertiary Color - Spectrum Color Picker" Level="1">
  <Info>
    <Name>Homepage - Tertiary Color - Spectrum Color Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>