<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcfb83fe-86c7-4046-b0fb-77ae64c5e56d" Alias="Homepage - Vorto" Level="1">
  <Info>
    <Name>Homepage - Vorto</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>