<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03beec85-848e-419b-ae50-fb6183ff8e7d" Alias="Homepage - Trustpilot stars image - Media Picker" Level="1">
  <Info>
    <Name>Homepage - Trustpilot stars image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>