<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30ad59b2-9243-4d50-990a-a966a62981b5" Alias="Homepage - Secondary Color - Spectrum Color Picker" Level="1">
  <Info>
    <Name>Homepage - Secondary Color - Spectrum Color Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>