<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f22868ed-24b2-4537-bb4e-f9ae5f6670c8" Alias="Homepage - Partner ID - Numeric" Level="1">
  <Info>
    <Name>Homepage - Partner ID - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": null,
  "step": null,
  "max": null
}]]></Config>
</DataType>