<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b814260d-85ab-440c-8390-6edada984559" Alias="Homepage - Consumer App Mobile Image - Media Picker" Level="1">
  <Info>
    <Name>Homepage - Consumer App Mobile Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>