<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b941995-e35b-4d97-a0df-d1e3977d264f" Alias="Homepage - Partner Logo - Image" Level="1">
  <Info>
    <Name>Homepage - Partner Logo - Image</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>