<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd26a888-ba3f-4bda-928a-68f61fb44d41" Alias="Klus - Enable Price Calculator - Checkbox" Level="1">
  <Info>
    <Name>Klus - Enable Price Calculator - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>