<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dff3ee3-8442-4deb-b268-c07c6432ee74" Alias="Klus - Structured Data - Textarea" Level="1">
  <Info>
    <Name>Klus - Structured Data - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>