<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d59f625-b926-4bfa-88fd-004ce60283a5" Alias="Klus - Alternative Task - Multinode Treepicker" Level="1">
  <Info>
    <Name>Klus - Alternative Task - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "klus",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site",
    "type": "content"
  }
}]]></Config>
</DataType>