<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef8cdfeb-0980-449b-81e4-e782ff001f85" Alias="Klus - Alternative Task - Multinode Treepicker (1)" Level="1">
  <Info>
    <Name>Klus - Alternative Task - Multinode Treepicker (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "klus",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site",
    "type": "content"
  }
}]]></Config>
</DataType>