<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d27166f5-326d-4e83-8a8b-ab47b81c576c" Alias="Klus - Related - Multinode Treepicker" Level="1">
  <Info>
    <Name>Klus - Related - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "klus",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>