<?xml version="1.0" encoding="utf-8"?>
<DataType Key="101603b2-7ce0-449b-a8cf-b15467d6003a" Alias="Klus - Average Price - Decimal" Level="1">
  <Info>
    <Name>Klus - Average Price - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": null,
  "step": null,
  "max": null
}]]></Config>
</DataType>