<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf0181bb-d98c-490d-9209-3019956e2e7f" Alias="Klus - Base rate - Decimal" Level="1">
  <Info>
    <Name>Klus - Base rate - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0.0,
  "step": null,
  "max": null
}]]></Config>
</DataType>