<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73263189-1460-4a25-bb80-9ca261fb5845" Alias="Partners - Assembly explanation - Block List" Level="1">
  <Info>
    <Name>Partners - Assembly explanation - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6c7858ca-f1af-47d2-8a68-c2d323ad3787",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>