<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f66f1e74-b76f-4764-a9ae-f6ad6bf91708" Alias="Partner - Multi URL Picker" Level="1">
  <Info>
    <Name>Partner - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>