<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d77c38b-5894-4445-b60d-10ad9a38e71b" Alias="Professional - Jobs - Numeric" Level="1">
  <Info>
    <Name>Professional - Jobs - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": "",
  "step": "",
  "max": ""
}]]></Config>
</DataType>