<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ec6e5b3-3569-43ab-8ba6-d48f72e4a705" Alias="Search link checkbox" Level="1">
  <Info>
    <Name>Search link checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Links to Task",
  "LabelOn": "Links to JobForm",
  "ShowLabels": true
}]]></Config>
</DataType>