<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6c79ff31-0a78-4320-8ca1-4f6268cc86ab" Alias="SearchTask link toogle" Level="1">
  <Info>
    <Name>SearchTask link toogle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Search click to Jobform",
  "LabelOn": "Search click to Tasks",
  "ShowLabels": true
}]]></Config>
</DataType>