<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e73d648-fe56-412e-9c66-3e3f6bf018b8" Alias="SignUp - Image Block - Image" Level="1">
  <Info>
    <Name>SignUp - Image Block - Image</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>