<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d88c54f4-4912-4c73-ba12-07321374b3bf" Alias="SignUp - Image Block - Image (1)" Level="1">
  <Info>
    <Name>SignUp - Image Block - Image (1)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>