<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df74b9ad-76dd-464e-a3ae-a982c15797d4" Alias="SpecialDay - Country - Dropdown" Level="1">
  <Info>
    <Name>SpecialDay - Country - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "nl"
    },
    {
      "id": 2,
      "value": "be"
    },
    {
      "id": 3,
      "value": "de"
    },
    {
      "id": 4,
      "value": "fr"
    },
    {
      "id": 5,
      "value": "gb"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>