<?xml version="1.0" encoding="utf-8"?>
<DataType Key="573f3085-3230-43f2-a1de-22a0efb53a1a" Alias="Status - imageUpload2 - File upload" Level="1">
  <Info>
    <Name>Status - imageUpload2 - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>