<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16bf172c-f8a7-4ed4-88e7-77a2a779530d" Alias="Status - Profile Image Placeholder - Media Picker" Level="1">
  <Info>
    <Name>Status - Profile Image Placeholder - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": "umb://media/1c8fc24902654b4b8c871e85474daa7f"
}]]></Config>
</DataType>