<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2b938a0-7467-400f-8795-789ce4a091fe" Alias="Team - Textarea (1)" Level="1">
  <Info>
    <Name>Team - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>