<?xml version="1.0" encoding="utf-8"?>
<DataType Key="068e6b8b-9922-4bc6-a888-a559889e579f" Alias="Treepicker - Professionals" Level="1">
  <Info>
    <Name>Treepicker - Professionals</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "professional",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 10,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>