<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40b4bb5f-fc35-4a89-b024-d8054b715148" Alias="umbracoNaviHide" Level="1">
  <Info>
    <Name>umbracoNaviHide</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>