<?xml version="1.0" encoding="utf-8"?>
<DataType Key="911a82c1-bde2-4105-b2be-1bb4113f77f2" Alias="Vorto textstring" Level="1">
  <Info>
    <Name>Vorto textstring</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>