<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be6f7fe7-d75b-4ef9-be03-52e884859ef9" Alias="Vorto Dynamic Formfield" Level="1">
  <Info>
    <Name>Vorto Dynamic Formfield</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>