<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af7464d4-73ad-4291-a209-0b85adc85021" Alias="Vorto Unique Selling Points" Level="1">
  <Info>
    <Name>Vorto Unique Selling Points</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>