<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7d17437-6cbe-49a1-b570-b21dde5b0c9e" Alias="Vorto USP List" Level="1">
  <Info>
    <Name>Vorto USP List</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>