<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e982a501-8ed1-42cc-974d-93c97deaf6dc" Alias="Vorto Howtos" Level="1">
  <Info>
    <Name>Vorto Howtos</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>