<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15ffd9e3-260c-43b3-be1a-bd54fde345e2" Alias="api" Level="1">
  <Info>
    <Name>Api</Name>
    <Icon>icon-code color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Content API</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Api</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07d1da77-7e4a-4a81-b648-355ee72d4431">Api</Template>
      <Template Key="be436822-aeaa-4eaa-a770-b4d65f85b647">Categories</Template>
      <Template Key="d12a7700-e384-4039-9783-9c5cd30f76b2">Dictionary</Template>
      <Template Key="32b77c92-1dbd-4a8f-8d62-3c8b5115a8be">Task</Template>
      <Template Key="bc252677-be5d-46e2-b274-3fbc341f566e">Tasks</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15ffd9e3-260c-43b3-be1a-bd54fde345e2" SortOrder="0">api</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2fbd3449-253b-4fa7-a6f8-bc657cb0e69a</Key>
      <Name>Hide from navigation</Name>
      <Alias>hideFromNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable to hide from sitemap]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cdab376b-24d0-4127-ac4e-bf1f3522853c</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>