<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8a844a8-4986-4e86-8001-36aba3075a8e" Alias="author" Level="2">
  <Info>
    <Name>Author</Name>
    <Icon>icon-user color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="c1e569f8-725b-4c50-87b5-4f30da43c621">authors</Parent>
    <Compositions>
      <Composition Key="c1e569f8-725b-4c50-87b5-4f30da43c621">authors</Composition>
      <Composition Key="84ee5986-a5e2-49d2-add4-f0f58cb2023c">sEOAndSettings</Composition>
    </Compositions>
    <DefaultTemplate>Author</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fb621adb-2668-4fdc-94ec-9503d3c2b8cb">Author</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b91c35e0-c7b3-4a79-a2dd-63aaaebad906</Key>
      <Name>Education</Name>
      <Alias>education</Alias>
      <Definition>8d0fbce2-dca6-4f12-baed-e12f05e398cb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>33d7aeb2-92cc-497f-af97-a67fa59c3cbb</Key>
      <Name>Expertise</Name>
      <Alias>expertise</Alias>
      <Definition>2296b06e-d6cd-4b67-ac05-55cc12dc9107</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8fb977cc-fb47-4c77-9f28-fa4742eaca9d</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>bb7234fc-c0b5-4b97-a034-24343ceb6aeb</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc00c3cd-530c-4f27-80f1-08f3c25931a8</Key>
      <Name>Position</Name>
      <Alias>position</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64b36761-8a67-48c8-a2aa-8ae474e2057c</Key>
      <Name>Short bio</Name>
      <Alias>shortBio</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b3407ac-378b-482f-a724-4c650762a46f</Key>
      <Name>Social</Name>
      <Alias>social</Alias>
      <Definition>978e9edd-dee2-4693-a432-2842e07fa49e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f07b294f-bbe2-49ae-844c-4e344e2497b5</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>