<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1e569f8-725b-4c50-87b5-4f30da43c621" Alias="authors" Level="1">
  <Info>
    <Name>Authors</Name>
    <Icon>icon-users color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Authors</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bb8fd7ef-3fca-489c-9303-0385b7dc9f75">Authors</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f8a844a8-4986-4e86-8001-36aba3075a8e" SortOrder="0">author</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>