<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88e7c96d-786c-4cdf-a070-14b6ee4e41fd" Alias="auth" Level="1">
  <Info>
    <Name>Auth</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="84ee5986-a5e2-49d2-add4-f0f58cb2023c">sEOAndSettings</Composition>
    </Compositions>
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a7c0fba0-cda8-4c10-b965-fd4dfd9b2f33">ForgetPassword</Template>
      <Template Key="ef03ba3e-6b5e-411b-98b6-77f25e78a978">Login</Template>
      <Template Key="a7e546ef-da2e-4c4b-a5f2-7cab7c66be6b">MyBookings</Template>
      <Template Key="e0c0c0c9-03e5-42e7-af45-8207620cde8b">MyProfile</Template>
      <Template Key="7df40ada-0da7-4ce2-b594-0690cbecc2ce">Register</Template>
      <Template Key="983f28bf-7043-4c24-a2c3-682415d00438">Verification</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>