<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49b429eb-cfff-4bcb-af39-71901d8d76df" Alias="banners" Level="1">
  <Info>
    <Name>BannersSTRAPI</Name>
    <Icon>icon-application-window-alt color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="40a6edc6-6f29-4774-bdf3-922b71a1071a" SortOrder="0">banner</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>