<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="225217e5-42ad-3bc9-8067-b12d8b2ee116" Alias="BlockGridLayout_2Column" Level="3">
  <Info>
    <Name>2 Column</Name>
    <Icon>icon-layout color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Grid Layoutblock</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>BlockGrid/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>c5f7a339-7614-4319-9fa0-7d7b4f3e4288</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>