<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87f0eb20-5e9d-49fa-a71f-b45aeab3710b" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-rss color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog section</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07eeda12-0c96-45ea-a922-fe607e96c917">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="47a34f4a-3770-43b5-852c-78f1a53eab53" SortOrder="0">blogArticle</ContentType>
    <ContentType Key="c1e569f8-725b-4c50-87b5-4f30da43c621" SortOrder="1">authors</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c6f7dd34-7bae-46f0-8988-f680c79b65ce</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Meta description]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d407cc33-ac21-444f-a6f8-edea49f0f90a</Key>
      <Name>heading</Name>
      <Alias>heading</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[enter heading]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a9c3d8e8-ad3e-4a6f-be97-6b114c4745bd</Key>
      <Name>lead</Name>
      <Alias>lead</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[enter lead text]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a83820fc-9b0d-4ec6-ad85-a2c97f01cf8e</Key>
      <Name>No Index</Name>
      <Alias>noIndex</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[No index on search engines]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0392990d-2f97-47d1-bb58-9dc25df81290</Key>
      <Name>Articles per page</Name>
      <Alias>numberOfItemsPerPage</Alias>
      <Definition>c976479f-27b3-4760-b84f-7532dd39df29</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select number of items to show per page]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbeae7c5-7145-406b-9063-d9061bc17544</Key>
      <Name>Translation</Name>
      <Alias>pageURL</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name + Automatic URL
ONLY USE FOR NON-NL]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30f8908c-8abe-42b5-964c-9ca3e61fb856</Key>
      <Name>Show in footer</Name>
      <Alias>showInFooter</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show page in footer]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e48393b8-6f5c-4ef3-8400-e26f15ac432e</Key>
      <Name>Show in top navigation</Name>
      <Alias>showInNav</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show page in navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf44fc2d-b761-49a6-b75a-4c59b353ca9b</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>911a82c1-bde2-4105-b2be-1bb4113f77f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>284af956-82d8-445c-8cd8-10022b35c6f2</Key>
      <Name>Hide from navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable to hide from sitemap]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>475ea6bb-d7cc-41b3-a399-9de1364e4875</Key>
      <Name>Used as Categories Page</Name>
      <Alias>usedAsCategoriesPage</Alias>
      <Definition>cc371bfb-d1ef-49e7-9bc4-808fe69fc145</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6e9ceb46-10ee-4f8c-b8dd-5614b1155281</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d6b8419c-345f-4561-806d-6a662b6a6a07</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>