<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70f04f15-31d6-4954-b467-9ee5051370cc" Alias="categories" Level="1">
  <Info>
    <Name>CategoriesOverview</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="84ee5986-a5e2-49d2-add4-f0f58cb2023c">sEOAndSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="535a4734-309d-4faa-bd82-fac9f113f4bb">CategoriesOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="86cda3fe-d65c-491d-9b12-95db1ba04d15" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>