<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="321221cd-2c95-4b13-9eaa-53757fc3ffb9" Alias="cityOverview" Level="1">
  <Info>
    <Name>CityOverview</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>CityOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="feb896fe-340c-41a3-a786-365fb68ceac8">CityOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>