<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="41354157-3477-4c45-bfed-899968da65c4" Alias="locationGenerationTempPage" Level="1">
  <Info>
    <Name>Location Generation Temp Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LocationGenerationTempPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a4e3e3b-b916-44bb-855e-9856c0c717aa">LocationGenerationTempPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>