<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d862f790-7e62-4c79-a78b-9f280a874639" Alias="openapp" Level="1">
  <Info>
    <Name>openapp</Name>
    <Icon>icon-application-window color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>openapp</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3d3a3acc-9ad1-487a-a4e7-7dcffce525e4">openapp</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>