<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6fd0dd3-47db-47d3-bea5-755e8d799825" Alias="professional" Level="1">
  <Info>
    <Name>Professional</Name>
    <Icon>icon-user color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Create new professional page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Professional</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2bbb4ac2-1a68-42fd-9dee-d8028f567c4f">Professional</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>17c5b07f-beda-4dac-b38f-61f98aaa8d54</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>4da58bc3-3e30-453d-8355-51e770a6a10d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Extra info about professional]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa031bc7-1299-4b13-bdf4-63152e8fb930</Key>
      <Name>Experience</Name>
      <Alias>experience</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter years of experience]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c622f0c3-e0a6-4421-8ef4-3b4379bf6446</Key>
      <Name>First name</Name>
      <Alias>firstName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter first name]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4f5f5c5-e6d8-4b79-9081-33e382fff0d7</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select image]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>984310a6-52c0-4cf6-a93f-ae9819e8487f</Key>
      <Name>Jobs</Name>
      <Alias>jobs</Alias>
      <Definition>7d77c38b-5894-4445-b60d-10ad9a38e71b</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter number of jobs]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c83c562-b1c6-47ab-8909-131cd6fa153b</Key>
      <Name>Last name</Name>
      <Alias>lastName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter last name]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7cd9268-a825-4269-8ea0-9f015dd4aa8a</Key>
      <Name>Rating</Name>
      <Alias>rating</Alias>
      <Definition>9d51c7ef-c779-42ef-a83c-20daaf2c076c</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter review rating]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64622fdf-f369-43bf-a8b0-b524caac66b0</Key>
      <Name>Region</Name>
      <Alias>region</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter region that professional works in]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="personalInformation">Personal information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>18df84dd-43a0-452b-b004-a870ddd40ea7</Key>
      <Caption>Personal information</Caption>
      <Alias>personalInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>