<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cd95ec2e-0c99-46ad-b548-8cccb7906a50" Alias="servicesOverview" Level="1">
  <Info>
    <Name>ServicesOverview</Name>
    <Icon>icon-bulleted-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="84ee5986-a5e2-49d2-add4-f0f58cb2023c">sEOAndSettings</Composition>
    </Compositions>
    <DefaultTemplate>ServicesOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c5ded057-1176-41b4-b2bf-4dad598ad101">ServicesOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="687e1b27-862d-411d-b22f-6ffa83cac0a3" SortOrder="0">klus</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>