<?xml version="1.0" encoding="utf-8"?>
<Content Key="63457e6f-5b52-479e-8095-15fdefca5bb9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-10-07T17:51:28</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="13952a4a-a1bd-4abc-9c88-ce64cd7ef484">Home</Template>
  </Info>
  <Properties>
    <nestOneHere>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5c9a218e210849d5a7625ab76a448c3a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19acb847-0b97-49ad-abe7-a71bfae433d7",
      "nestedElement": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ddb231c4249245e7b00a26344ea8ef50"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b5a49794-cc74-4801-bd19-b0e5f92e4897",
            "nestedValue": "test",
            "udi": "umb://element/ddb231c4249245e7b00a26344ea8ef50"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/5c9a218e210849d5a7625ab76a448c3a"
    }
  ],
  "settingsData": []
}]]></Value>
    </nestOneHere>
  </Properties>
</Content>